.main-header-text {
    color:#0c6f3c;
    text-align: center;
}

.section-header-class {
    background-color: #f6f0e8;
    width: 48vw;
    border: 1px solid #000;
    margin-left: 10px;
    padding-left: 5px;
}

.flex-container {
    display: flex;
    width: 75vw;
}

.flex-container > .section-class {
    background-color: #b6c7ac;
    margin: 10px;
    padding: 30px;
    width: 100%;
}

.flex-container > .section-class-img {
    background-color: #b6c7ac;
    margin: 10px;
    padding: 30px;
    width: 100%;
}

.section-img {
    height: 100%;
    width: 100%;   
}
