
main {
    font-family: sans-serif;
}

.main-header-text {
    color:#02989e;
    text-align: center;
}

.section-header-class {
    background-color: #f6f0e8;
    width: 48.3vw;
    border: 1px solid #000;
    margin-left: 10px;
}

.flex-container {
    display: flex;
    width: 75vw;
}

.flex-container > .section-class {
    background-color: #d9d9d9;
    margin: 10px;
    padding: 30px;
    width: 100%;
}

.flex-container > .section-class-img {
    background-color: #d9d9d9;
    margin: 10px;
    padding: 30px;
    width: 100%;
}

.section-img {
    height: 100%;
    width: 100%;   
}
